.root{
    width: 60%;
}
.tool_box_left{
    display: flex;
    gap: 300px;
    justify-content: right;
}
.toolbox_sort{
    display: flex;
    justify-content: right;
    gap: 30px;
}
.toolbox_right{
    display: flex;
    gap: 50px;

}
.tool_box{
    margin-left: 10%;
}
